main{
    background-color: #fffbf0;
}
.logo-resize{
    height: 30px;
}
.buy-button{
    border-radius: 7px;
    padding: 10px;
    height:50px;
    background-image: linear-gradient(#a1b941,#8ba521);
}
.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-color: rgb(202, 199, 199);
}
